<h1>Person</h1>
<form asp-action="Index" class="col-4">
    <input type="text" name="names" class="form-control">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h3>@ViewBag.abc</h3>