<h1>Emplyee</h1>
<form asp-action="Index" class="col-4">
    <input type="text" name="name" class="form-control">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h3>@ViewBag.ab</h3>